body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    transition: background-color 0.4s, color 0.4s;
}

body.dark-mode {
    background-color: #303136;
    color: #f4f4f4;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    transition: background-color 0.4s, color 0.4s;
}

body.dark-mode .container {
    background-color: #424242;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formRow {
    display: flex;
    margin-bottom: 10px;
    justify-content: flex-start;
    width: 100%;
}

label {
    margin: 0 10px;
    align-self: center;
}

input {
    margin: 0 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    transition: background-color 0.4s, color 0.4s;
}

body.dark-mode input {
    background-color: #555;
    color: #f4f4f4;
}

button {
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.4s;
}

button:hover {
    background-color: #4cae4c;
}

#addRow {
    background-color: #007bff;
}

#addRow:hover {
    background-color: #0056b3;
}

.removeRow {
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s;
    padding: 8px;
    border-radius: 4px;
    margin: 0 10px; /* Adjusted margin-left to keep the button aligned with inputs */
}

.removeRow:hover {
    background-color: #c9302c;
}



#result {
    margin-top: 20px;
    font-weight: bold;
}

/* The switch - the box around the slider */
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    transition: .4s;
}

input:checked + .slider {
    background-color: #303136;
}

input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
